.intro {
    /* border: 3px solid green; */
    padding: 50px 100px;
    display: flex;
    gap: 50px;
}

.intro-text {
    width: 50%;
}
.intro-image {
    width: 50%;
}

.img-intro {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .intro {
        flex-direction: column;
        padding: 50px 20px;
    }

    .intro-image {
        order: 0;
        width: 100%;
    }
    .intro-text {
        order: 1;
        width: 100%;
    }
}